In [63]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [64]:

df = pd.read_csv("dataset/customer.csv")
df.sample(5)

    age  gender   review education purchased
48   39  Female     Good        UG       Yes
42   30  Female     Good        PG       Yes
8    65  Female  Average        UG        No
20   57  Female  Average    School       Yes
45   61    Male     Poor        PG       Yes

<br>
<br>

# ordinal encoding & level encoding:

`We implement ordinal encoding in (review+education) and level encoding in purchased column.`

<br>
<br>

In [65]:

df.drop(columns=['age','gender'],inplace=True)

In [66]:
df.head(5)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [67]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(
                                                df.drop(columns=['purchased']),
                                                df['purchased'],
                                                test_size=0.2
                                                        )

print(f"Size of X_train: {X_train.shape}")
print(f"Size of X_test: {X_test.shape}")
print(f"Size of y_train: {y_train.shape}")
print(f"Size of y_test: {y_test.shape}")

Size of X_train: (40, 2)
Size of X_test: (10, 2)
Size of y_train: (40,)
Size of y_test: (10,)

In [68]:
X_train

     review education
33     Good        PG
14     Poor        PG
41     Good        PG
11     Good        UG
7      Poor    School
27     Poor        PG
5   Average    School
45     Poor        PG
0   Average    School
15     Poor        UG
34  Average    School
22     Poor        PG
13  Average    School
49     Good        UG
4   Average        UG
9      Good        UG
25     Good    School
37  Average        PG
12     Poor    School
19     Poor        PG
38     Good    School
32  Average        UG
16     Poor        UG
20  Average    School
18     Good    School
24  Average        PG
46     Poor        PG
30  Average        UG
6      Good    School
3      Good        PG
23     Good    School
43     Poor        PG
42     Good        PG
21  Average        PG
8   Average        UG
36     Good        UG
39     Poor        PG
2      Good        PG
47     Good        PG
26     Poor        PG

In [69]:

from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(X_train)

X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [70]:
X_train

array([[2., 2.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [2., 0.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [2., 0.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [1., 2.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [2., 2.],
       [0., 2.]])

In [71]:
y_train

33    Yes
14    Yes
41    Yes
11    Yes
7     Yes
27     No
5     Yes
45    Yes
0      No
15     No
34     No
22    Yes
13     No
49     No
4      No
9     Yes
25     No
37    Yes
12     No
19    Yes
38     No
32    Yes
16    Yes
20    Yes
18     No
24    Yes
46     No
30     No
6      No
3      No
23     No
43     No
42    Yes
21     No
8      No
36    Yes
39     No
2      No
47    Yes
26     No
Name: purchased, dtype: object



#### `Here, out y contain categorical value. To convert this we need level encoder.`

In [72]:

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

le.classes_ # no: 0 ,yes: 1

array(['No', 'Yes'], dtype=object)

In [73]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)